body{
    background-color: darkblue;
}

.container {
    width: 80%;
    margin: 100px auto;
    border: 1px solid white;
    background-color: blue;

    /* debug */
    height: 700px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 1rem;
}

